name: check

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read

jobs:
  static:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: spotdemo4/nix-init@e007104fa840f028e46ef5b24520ee14dda33cec # v1.26.0

      - name: Setup Niks3 cache
        uses: spotdemo4/niks3-action@main
        with:
          server-url: https://niks3.trev.zip
          auth-token: ${{ secrets.NIKS3_TOKEN }}

      - name: Check flake
        run: nix flake check

  oidc:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: spotdemo4/nix-init@e007104fa840f028e46ef5b24520ee14dda33cec # v1.26.0

      - name: Setup Niks3 cache
        uses: spotdemo4/niks3-action@main
        with:
          audience: https://niks3.trev.zip

      - name: Check flake
        run: nix flake check
