name: check

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read

jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: spotdemo4/nix-init@main

      - name: Setup niks3 cache
        uses: spotdemo4/niks3-action@main
        with:
          server-url: https://niks3.trev.zip
          auth-token: ${{ secrets.NIKS3_TOKEN }}
          inputs-from: .

      - name: Check flake
        run: nix flake check

  oidc:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: spotdemo4/nix-init@main

      - name: Setup niks3 cache
        uses: spotdemo4/niks3-action@main
        with:
          audience: https://niks3.trev.zip

      - name: Check flake
        run: nix flake check
